# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tyler's stuff
.vs/
.git/
CS48_Simulation_Project_Soln/
.gitattributes

# XCode files
*.pbxproj
*.xcworkspacedata
*.plist
*.xcuserstate
